## Import Libraries

In [2]:
import pandas as pd
import numpy  as np

## Reading Data

In [3]:
read = pd.read_csv(r'E:\data science\note.books\Pandas\Data Pandas\Videogames.csv')

In [4]:
read

,RANKING,VIDEO GAME NAME,Year,genre,Rating,DETAILS,DIRECTOR,ACTOR-1,ACTOR-2,ACTOR-3,ACTOR-4,VOTES,certificate
0,1,The Witcher 3: Wild Hunt - Blood and Wine,(2016 Video Game),"Action, Adventure, Drama",9.8,Geralt is in the southern province of Toussain...,Konrad Tomaszkiewicz,Doug Cockle,MyAnna Buring,Antonia Bernath,Mark Noble,6942,NaN
1,2,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,Cali Elizabeth Moore,NaN,29498,M
2,3,The Witcher 3: Wild Hunt,(2015 Video Game),"Action, Adventure, Drama",9.7,A monster hunter for hire embarks on an epic j...,Konrad Tomaszkiewicz,Doug Cockle,Denise Gough,Jo Wyatt,Jaimi Barbakoff,23644,M
3,4,The Last of Us,(2013 Video Game),"Action, Adventure, Drama",9.7,"In a hostile, post-pandemic world, Joel and El...",Neil Druckmann,Jeffrey Pierce,Ashley Johnson,Troy Baker,Hana Hayes,56289,M
4,5,Mass Effect: Legendary Edition,(2021 Video Game),"Action, Adventure, Sci-Fi",9.7,A compilation of the first three Mass Effect g...,Casey Hudson,Seth Green,Steven Barr,Kimberly Brooks,Keith David,868,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Legend of Zelda: A Link Between Worlds,(2013 Video Game),"Action, Adventure, Fantasy",8.7,Link is yet again tasked with restoring peace ...,Hiromasa Shikata,Mitsuki Saiga,Ayumi Fujimura,Seiro Ogino,Kei Hayami,1480,E
246,247,Black Mesa,(2012 Video Game),"Action, Sci-Fi, Thriller",8.7,Scientist Gordon Freeman navigates through the...,Carlos Montero,Adam Dravean,Cris Mertens,Michael Tsarouhas,Kevin Sisk,585,NaN
247,248,Assassin's Creed IV: Black Flag,(2013 Video Game),"Action, Adventure, History",8.7,"A video game where you play as sailor, private...",Ashraf Ismail,Kate Fleetwood,Ralph Ineson,Stuart Martin,Michael McElhatton,15819,M
248,249,Ni no Kuni: Wrath of the White Witch,(2011 Video Game),"Adventure, Fantasy",8.7,"Oliver discovers that his mother is not dead, ...",Kentaro Motomura,Adam Wilson,Lauren Mote,Louis Tamone,Steffan Rhodri,816,E10+
249,250,Borderlands 2,(2012 Video Game),"Action, Adventure, Comedy",NaN,A new group of adventurers arrives on the fron...,Paul Hellquist,Lynn Andrews III,Yasemin Arslan,Justin Barad,Christopher Bevins,5944,M

## Make a copy

In [5]:
df = read.copy()

In [6]:
df

,RANKING,VIDEO GAME NAME,Year,genre,Rating,DETAILS,DIRECTOR,ACTOR-1,ACTOR-2,ACTOR-3,ACTOR-4,VOTES,certificate
0,1,The Witcher 3: Wild Hunt - Blood and Wine,(2016 Video Game),"Action, Adventure, Drama",9.8,Geralt is in the southern province of Toussain...,Konrad Tomaszkiewicz,Doug Cockle,MyAnna Buring,Antonia Bernath,Mark Noble,6942,NaN
1,2,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,Cali Elizabeth Moore,NaN,29498,M
2,3,The Witcher 3: Wild Hunt,(2015 Video Game),"Action, Adventure, Drama",9.7,A monster hunter for hire embarks on an epic j...,Konrad Tomaszkiewicz,Doug Cockle,Denise Gough,Jo Wyatt,Jaimi Barbakoff,23644,M
3,4,The Last of Us,(2013 Video Game),"Action, Adventure, Drama",9.7,"In a hostile, post-pandemic world, Joel and El...",Neil Druckmann,Jeffrey Pierce,Ashley Johnson,Troy Baker,Hana Hayes,56289,M
4,5,Mass Effect: Legendary Edition,(2021 Video Game),"Action, Adventure, Sci-Fi",9.7,A compilation of the first three Mass Effect g...,Casey Hudson,Seth Green,Steven Barr,Kimberly Brooks,Keith David,868,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Legend of Zelda: A Link Between Worlds,(2013 Video Game),"Action, Adventure, Fantasy",8.7,Link is yet again tasked with restoring peace ...,Hiromasa Shikata,Mitsuki Saiga,Ayumi Fujimura,Seiro Ogino,Kei Hayami,1480,E
246,247,Black Mesa,(2012 Video Game),"Action, Sci-Fi, Thriller",8.7,Scientist Gordon Freeman navigates through the...,Carlos Montero,Adam Dravean,Cris Mertens,Michael Tsarouhas,Kevin Sisk,585,NaN
247,248,Assassin's Creed IV: Black Flag,(2013 Video Game),"Action, Adventure, History",8.7,"A video game where you play as sailor, private...",Ashraf Ismail,Kate Fleetwood,Ralph Ineson,Stuart Martin,Michael McElhatton,15819,M
248,249,Ni no Kuni: Wrath of the White Witch,(2011 Video Game),"Adventure, Fantasy",8.7,"Oliver discovers that his mother is not dead, ...",Kentaro Motomura,Adam Wilson,Lauren Mote,Louis Tamone,Steffan Rhodri,816,E10+
249,250,Borderlands 2,(2012 Video Game),"Action, Adventure, Comedy",NaN,A new group of adventurers arrives on the fron...,Paul Hellquist,Lynn Andrews III,Yasemin Arslan,Justin Barad,Christopher Bevins,5944,M

In [7]:
df.head(3)

,RANKING,VIDEO GAME NAME,Year,genre,Rating,DETAILS,DIRECTOR,ACTOR-1,ACTOR-2,ACTOR-3,ACTOR-4,VOTES,certificate
0,1,The Witcher 3: Wild Hunt - Blood and Wine,(2016 Video Game),"Action, Adventure, Drama",9.8,Geralt is in the southern province of Toussain...,Konrad Tomaszkiewicz,Doug Cockle,MyAnna Buring,Antonia Bernath,Mark Noble,6942,NaN
1,2,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,Cali Elizabeth Moore,NaN,29498,M
2,3,The Witcher 3: Wild Hunt,(2015 Video Game),"Action, Adventure, Drama",9.7,A monster hunter for hire embarks on an epic j...,Konrad Tomaszkiewicz,Doug Cockle,Denise Gough,Jo Wyatt,Jaimi Barbakoff,23644,M

In [8]:
df.tail(3)

,RANKING,VIDEO GAME NAME,Year,genre,Rating,DETAILS,DIRECTOR,ACTOR-1,ACTOR-2,ACTOR-3,ACTOR-4,VOTES,certificate
247,248,Assassin's Creed IV: Black Flag,(2013 Video Game),"Action, Adventure, History",8.7,"A video game where you play as sailor, private...",Ashraf Ismail,Kate Fleetwood,Ralph Ineson,Stuart Martin,Michael McElhatton,15819,M
248,249,Ni no Kuni: Wrath of the White Witch,(2011 Video Game),"Adventure, Fantasy",8.7,"Oliver discovers that his mother is not dead, ...",Kentaro Motomura,Adam Wilson,Lauren Mote,Louis Tamone,Steffan Rhodri,816,E10+
249,250,Borderlands 2,(2012 Video Game),"Action, Adventure, Comedy",NaN,A new group of adventurers arrives on the fron...,Paul Hellquist,Lynn Andrews III,Yasemin Arslan,Justin Barad,Christopher Bevins,5944,M

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RANKING           250 non-null    int64
 1   VIDEO GAME NAME   250 non-null    object
 2   Year              250 non-null    object
 3   genre             249 non-null    object
 4   Rating            249 non-null    float64
 5   DETAILS           250 non-null    object
 6   DIRECTOR          247 non-null    object
 7   ACTOR-1           230 non-null    object
 8   ACTOR-2           226 non-null    object
 9   ACTOR-3           219 non-null    object
 10  ACTOR-4           178 non-null    object
 11  VOTES             250 non-null    int64
 12  certificate       210 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [10]:
df.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RANKING           250 non-null    Int64
 1   VIDEO GAME NAME   250 non-null    string
 2   Year              250 non-null    string
 3   genre             249 non-null    string
 4   Rating            249 non-null    Float64
 5   DETAILS           250 non-null    string
 6   DIRECTOR          247 non-null    string
 7   ACTOR-1           230 non-null    string
 8   ACTOR-2           226 non-null    string
 9   ACTOR-3           219 non-null    string
 10  ACTOR-4           178 non-null    string
 11  VOTES             250 non-null    Int64
 12  certificate       210 non-null    string
dtypes: Float64(1), Int64(2), string(10)
memory usage: 26.3 KB

In [11]:
df.columns

Index(['RANKING ', 'VIDEO GAME NAME ', 'Year', 'genre', 'Rating', 'DETAILS',
       'DIRECTOR ', 'ACTOR-1', 'ACTOR-2', 'ACTOR-3', 'ACTOR-4', 'VOTES ',
       'certificate'],
      dtype='object')

## Drop Unnecessary Columns

In [12]:
df.drop(['RANKING ','ACTOR-3','ACTOR-4'],axis=1,inplace=True)

In [13]:
df.head()

,VIDEO GAME NAME,Year,genre,Rating,DETAILS,DIRECTOR,ACTOR-1,ACTOR-2,VOTES,certificate
0,The Witcher 3: Wild Hunt - Blood and Wine,(2016 Video Game),"Action, Adventure, Drama",9.8,Geralt is in the southern province of Toussain...,Konrad Tomaszkiewicz,Doug Cockle,MyAnna Buring,6942,NaN
1,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,29498,M
2,The Witcher 3: Wild Hunt,(2015 Video Game),"Action, Adventure, Drama",9.7,A monster hunter for hire embarks on an epic j...,Konrad Tomaszkiewicz,Doug Cockle,Denise Gough,23644,M
3,The Last of Us,(2013 Video Game),"Action, Adventure, Drama",9.7,"In a hostile, post-pandemic world, Joel and El...",Neil Druckmann,Jeffrey Pierce,Ashley Johnson,56289,M
4,Mass Effect: Legendary Edition,(2021 Video Game),"Action, Adventure, Sci-Fi",9.7,A compilation of the first three Mass Effect g...,Casey Hudson,Seth Green,Steven Barr,868,M

## Rename Columns in a suitable form

In [14]:
df.columns

Index(['VIDEO GAME NAME ', 'Year', 'genre', 'Rating', 'DETAILS', 'DIRECTOR ',
       'ACTOR-1', 'ACTOR-2', 'VOTES ', 'certificate'],
      dtype='object')

In [15]:
df.columns = df.columns.str.lower().str.strip()
df.columns

Index(['video game name', 'year', 'genre', 'rating', 'details', 'director',
       'actor-1', 'actor-2', 'votes', 'certificate'],
      dtype='object')

In [16]:
df.columns = df.columns.str.replace(' ','_')

In [17]:
df.columns

Index(['video_game_name', 'year', 'genre', 'rating', 'details', 'director',
       'actor-1', 'actor-2', 'votes', 'certificate'],
      dtype='object')

## Describe Data

In [18]:
df.describe()

           rating         votes
count  249.000000    250.000000
mean     9.032530   5973.944000
std      0.247133   8364.131818
min      8.700000    254.000000
25%      8.800000    913.250000
50%      9.000000   2417.500000
75%      9.200000   6974.750000
max      9.800000  56289.000000

In [19]:
df.describe(include='O')

,video_game_name,year,genre,details,director,actor-1,actor-2,certificate
count,250,250,249,250,247,230,226,210
unique,244,34,54,247,172,199,205,6
top,Resident Evil 2,(1998 Video Game),"Action, Adventure, Fantasy",Unravel mysteries as you journey through new p...,Hideo Kojima,David Hayter,Malcolm McDowell,M
freq,2,14,64,2,8,6,3,112

## Check Duplicate Values

In [20]:
df.duplicated().sum()

1

In [21]:
df.drop_duplicates(inplace = True)

In [22]:
df.duplicated().sum()

0

## Check Missing Values

In [23]:
df.shape

(249, 10)

In [24]:
df.isna().sum() / df.shape[0] *100

video_game_name     0.000000
year                0.000000
genre               0.401606
rating              0.401606
details             0.000000
director            1.204819
actor-1             8.032129
actor-2             9.638554
votes               0.000000
certificate        16.064257
dtype: float64

## What is the minimum and maximum ratings ?

In [25]:
df['rating'].min()

8.7

In [26]:
df['rating'].max()

9.8

## What are the Video Games with rating > 9 ?

In [27]:
df[df['rating']>9]

,video_game_name,year,genre,rating,details,director,actor-1,actor-2,votes,certificate
0,The Witcher 3: Wild Hunt - Blood and Wine,(2016 Video Game),"Action, Adventure, Drama",9.8,Geralt is in the southern province of Toussain...,Konrad Tomaszkiewicz,Doug Cockle,MyAnna Buring,6942,NaN
1,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,29498,M
2,The Witcher 3: Wild Hunt,(2015 Video Game),"Action, Adventure, Drama",9.7,A monster hunter for hire embarks on an epic j...,Konrad Tomaszkiewicz,Doug Cockle,Denise Gough,23644,M
3,The Last of Us,(2013 Video Game),"Action, Adventure, Drama",9.7,"In a hostile, post-pandemic world, Joel and El...",Neil Druckmann,Jeffrey Pierce,Ashley Johnson,56289,M
4,Mass Effect: Legendary Edition,(2021 Video Game),"Action, Adventure, Sci-Fi",9.7,A compilation of the first three Mass Effect g...,Casey Hudson,Seth Green,Steven Barr,868,M
...,...,...,...,...,...,...,...,...,...,...
103,Silent Hill,(1999 Video Game),"Drama, Horror, Mystery",9.1,Harry awakes from a car crash to notice his da...,Keiichiro Toyama,Michael Guinn,Susan Papa,5454,M
104,Resident Evil 2,(1998 Video Game),"Action, Horror, Sci-Fi",9.1,"Two months after the mansion events, the deadl...",Hideki Kamiya,Paul Haddad,Alyson Court,5682,M
105,The Curse of Monkey Island,(1997 Video Game),"Adventure, Comedy, Fantasy",9.1,After unwittingly turning his true love Elaine...,Jonathan Ackley,Denny Delk,Dominic Armato,2609,K-A
106,Gabriel Knight: Sins of the Fathers,(1993 Video Game),"Adventure, Drama, Horror",9.1,"Gabriel Knight, the owner of a New Orleans, Lo...",Jane Jensen,Tim Curry,Mark Hamill,664,T
118,Super Mario Galaxy,(2007 Video Game),"Animation, Action, Adventure",9.1,When Princess Peach is abducted as part of Bow...,Yoshiaki Koizumi,Charles Martinet,Kenny James,4916,E

In [28]:
list(df[df['rating']>9]['video_game_name'])

['The Witcher 3: Wild Hunt - Blood and Wine',
 'Red Dead Redemption II',
 'The Witcher 3: Wild Hunt',
 'The Last of Us',
 'Mass Effect: Legendary Edition',
 'God of War',
 'Persona 5 Royal',
 'The Legend of Zelda: Ocarina of Time',
 'Metal Gear Solid',
 'The Witcher 3: Wild Hunt - Hearts of Stone',
 "Uncharted 4: A Thief's End",
 'Grand Theft Auto V',
 'Mass Effect 2',
 'Half-Life: Alyx',
 'Metal Gear Solid 3: Subsistence',
 'Metal Gear Solid 3: Snake Eater',
 'Star Wars: Knights of the Old Republic',
 'Chrono Trigger',
 'Final Fantasy VII',
 'Bloodborne: The Old Hunters',
 'The Legend of Zelda: Breath of the Wild',
 'The Elder Scrolls V: Skyrim',
 'Portal 2',
 'Batman: Arkham City',
 'Red Dead Redemption',
 'Uncharted 2: Among Thieves',
 'Metal Gear Solid 4: Guns of the Patriots',
 'Grand Theft Auto: San Andreas',
 'Half-Life 2',
 'Silent Hill 2',
 "Baldur's Gate II: Shadows of Amn",
 'Planescape: Torment',
 'Fallout 2: A Post-Nuclear Role-Playing Game',
 'Ghost of Tsushima',
 'Batman: Return to Arkham',
 'Persona 5',
 'Kingdom Hearts HD 1.5 Remix',
 'P.T.',
 'Persona 4 Golden',
 'It Takes Two',
 'Shin Megami Tensei: Persona 4',
 'Kingdom Hearts II: Final Mix+',
 'Shadow of the Colossus',
 'Kingdom Hearts II',
 'Suikoden II',
 'The Legend of Zelda: A Link to the Past',
 'The Secret of Monkey Island',
 'Super Mario World',
 'Spider-Man',
 'Detroit: Become Human',
 'Bloodborne',
 'The Walking Dead',
 'Batman: Arkham Asylum',
 'Mass Effect',
 'God of War II',
 'Resident Evil 4',
 'Mafia: The City of Lost Heaven',
 'Kingdom Hearts',
 'Grand Theft Auto: Vice City',
 'Max Payne',
 'Deus Ex',
 'Castlevania: Symphony of the Night',
 'Super Mario Bros. 3',
 "Monkey Island 2: LeChuck's Revenge",
 'Half-Life',
 'Grim Fandango',
 'Fallout: A Post-Nuclear Role-Playing Game',
 'Ori and the Will of the Wisps',
 'Resident Evil 2',
 'Dark Souls III',
 'Horizon Zero Dawn',
 'Mob of the Dead',
 'Dark Souls',
 'Mass Effect 3',
 'BioShock Infinite',
 'Dragon Age: Origins',
 "Assassin's Creed II",
 'God of War III',
 'Portal',
 'Disco Elysium',
 'BioShock',
 'Fallout 3',
 'Gothic II',
 'Half-Life 2: Episode Two',
 'Vampire: The Masquerade - Bloodlines',
 'Paper Mario: The Thousand-Year Door',
 'God of War',
 'Max Payne 2: The Fall of Max Payne',
 'Metal Gear Solid',
 'Resident Evil',
 'X-COM: UFO Defense',
 'Shenmue II',
 'Final Fantasy X',
 "Baldur's Gate II: Throne of Bhaal",
 "The Legend of Zelda: Majora's Mask",
 'Indiana Jones and the Fate of Atlantis',
 'Shenmue',
 'StarCraft',
 'Super Metroid',
 'GoldenEye 007',
 'Super Mario 64',
 'Silent Hill',
 'Resident Evil 2',
 'The Curse of Monkey Island',
 'Gabriel Knight: Sins of the Fathers',
 'Super Mario Galaxy']

## Top 10 movies per votes and user rating

In [29]:
df.sort_values(by=['votes','rating'],ascending=False)

,video_game_name,year,genre,rating,details,director,actor-1,actor-2,votes,certificate
3,The Last of Us,(2013 Video Game),"Action, Adventure, Drama",9.7,"In a hostile, post-pandemic world, Joel and El...",Neil Druckmann,Jeffrey Pierce,Ashley Johnson,56289,M
11,Grand Theft Auto V,(2013 Video Game),"Action, Crime, Drama",9.5,Three very different criminals team up for a s...,Shawn Fonteno,Ned Luke,Steven Ogg,56082,M
27,Grand Theft Auto: San Andreas,(2004 Video Game),"Action, Crime",9.4,"A family tragedy prompts gangster Carl ""CJ"" Jo...",Young Maylay,Faizon Love,Yolanda 'Yo-Yo' Whittaker,37950,M
153,Grand Theft Auto IV,(2008 Video Game),"Action, Crime, Drama",8.9,"Niko Bellic comes to Liberty City, America to ...",Michael Hollick,Jason Zumwalt,Timothy Adams,33464,M
1,Red Dead Redemption II,(2018 Video Game),"Action, Adventure, Crime",9.7,Amidst the decline of the Wild West at the tur...,Benjamin Byron Davis,Roger Clark,Rob Wiethoff,29498,M
...,...,...,...,...,...,...,...,...,...,...
234,XCOM 2: War of the Chosen,(2017 Video Game),"Action, Sci-Fi, Thriller",8.7,Expansion pack for (2016). Twenty years have ...,Jacob Solomon,Chad Rocco,Brian Bloom,276,NaN
173,The Pandora Directive,(1996 Video Game),"Action, Adventure, Comedy",8.9,"In a neo-noir post-WWIII future, an old man hi...",Adrian Carr,Chris Jones,Barry Corbin,263,NaN
218,Freespace 2,(1999 Video Game),Sci-Fi,8.8,32 years have passed since the events of Desce...,Robert Loggia,Ronny Cox,Kurtwood Smith,257,NaN
180,Enderal: The Shards of Order,(2016 Video Game),"Action, Adventure, Fantasy",8.9,"2 years after the events of ""Nehrim"", the worl...",Nicolas Lietzau,Till Hagen,Andreas Wilde,254,NaN
212,Jet Set Radio Future,(2002 Video Game),"Action, Family, Sport",8.8,"A group of graffiti spraying, roller blading, ...",Masayoshi Kikuchi,Billy Brown,Charles Martinet,254,T

## Top 10 genres

In [30]:
df['genre'].value_counts().nlargest(10)

Action, Adventure, Fantasy    63
Action, Adventure, Drama      27
Action, Adventure, Sci-Fi     21
Action, Adventure, Family     12
Action, Adventure, Comedy     11
Action, Crime, Drama          10
Action, Adventure, Crime       9
Action, Adventure, Mystery     8
Adventure, Drama, Fantasy      5
Adventure, Comedy, Fantasy     4
Name: genre, dtype: int64

## Top 10 Directories

In [31]:
df['director'].value_counts().nlargest(10)

Hideo Kojima         8
Hidetaka Miyazaki    6
Casey Hudson         5
Tetsuya Nomura       5
Feargus Urquhart     5
Ken Levine           4
Todd Howard          4
Satoshi Tajiri       4
Eiji Aonuma          4
Sefton Hill          4
Name: director, dtype: int64

## Top 10 First Actors

In [32]:
df['actor-1'].value_counts().nlargest(10)

David Hayter         6
Jennifer Hale        5
Doug Cockle          4
Mark Hamill          4
Charles Martinet     4
Robert Guillaume     3
Michael Bell         2
Glynnis Talken       2
Haley Joel Osment    2
Charlie Adler        2
Name: actor-1, dtype: int64

In [33]:
df['actor-1'].value_counts().head(10)

David Hayter         6
Jennifer Hale        5
Doug Cockle          4
Mark Hamill          4
Charles Martinet     4
Robert Guillaume     3
Michael Bell         2
Glynnis Talken       2
Haley Joel Osment    2
Charlie Adler        2
Name: actor-1, dtype: int64

## Top 10 Second Actors

In [34]:
list(df['actor-2'].value_counts().to_frame().index[:10])

['Malcolm McDowell',
 'Dennis Lenart',
 'Nolan North',
 'Takaya Kuroda',
 'Earl Boen',
 'Suzetta MiÃ±et',
 'Kevin Conroy',
 'David Gallagher',
 'Robert Culp',
 'Fujiko Takimoto']

In [35]:
df['actor-2'].value_counts().nlargest(10)

Malcolm McDowell    3
Dennis Lenart       3
Nolan North         3
Takaya Kuroda       3
Earl Boen           2
Suzetta MiÃ±et       2
Kevin Conroy        2
David Gallagher     2
Robert Culp         2
Fujiko Takimoto     2
Name: actor-2, dtype: int64

## What is the most popular certificate in the world of video games ?

In [36]:
df['certificate'].value_counts().head(1)

M    111
Name: certificate, dtype: int64

In [37]:
df['certificate'].value_counts().nlargest(1)

M    111
Name: certificate, dtype: int64

In [38]:
df['certificate'].value_counts().to_frame().index[0]

'M'